body {margin :0 ;
      text-align: center;
      font-family: "Merriweather", serif;}

h1 {margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
     font-size: 5.625rem;
    color:  #66BFBF;}

h2 {font-family: "Montserrat", sans-serif;
   font-size: 2.5rem;
   color:  #11999E;}
   
h3 {color: #66999e;}   

.top-container {position:relative;
                padding-top: 100px;
                 background-color: #abf7f7}

.bottom-container {background-color: #66BFBF;
                   height: 100px;
                   padding-top:30px;}               
                   
.top-cloud { position: absolute;
             right: 250px;
             top: 60px; }
            
.bottom-cloud {position: absolute;
               left: 250px; 
               bottom: 30;}

.footer-link {color:#11999E;} 
.btn {color:#11999E;}  
.pro {font-weight: normal;}  

hr {border:5px dotted;
    border-style:none none dotted;
    width:8%; 
    color:#05c5c5;}

.skill-row {width: 50%;
            margin: 50px auto 100px auto;
            text-align: left;
            ;}

p {line-height: 2;}  

.skill-image {width: 25%; 
              height: 202px;
               float: left;
              margin-right:30px;}


.skill-image2 {width:25%;
               float:right;}


.btn {margin:0 auto 500 auto;}  

.contact-me {padding-bottom: 50px;}

.footer-link {margin:25px;}

